@media (max-height: 768px) {
    .top {
        &__inner {
            padding: 0;
        }
    }
    .page-section {
        &__wrapper {
            padding-top: 100px;
        }
    }

    .title {
        margin-bottom: 30px;
    }
}



